In [48]:
import pandas as pd

In [3]:
import yfinance as yf

In [60]:
#dn teamates' data
url1 ="https://raw.githubusercontent.com/Haileysyana/Stock_data/main/"
url2="https://github.com/Haileysyana/stock_data/blob/ea7d3c4906d1fdd8e07559f36fdb6587246a1f78/"
url3="https://github.com/Haileysyana/stock_data/blob/main/"
stkcd=['00632R','1609','2317','2371','2409','2515','2610','2618','3231','3481']
for i in stkcd:
    #url= url1+"yahoo_"+stkcd+".TW.csv"
    #df= pd.read_csv(url, index_col=0)
    #print(df)
    url= url1+"yahoo_"+i+".TW.csv"
    df= pd.read_csv(url, index_col=0)
    print(df)

             Open   High    Low  Close  Adj Close     Volume
Date
2020-01-02   9.95   9.99   9.90   9.93       9.93   38549380
2020-01-03   9.86  10.02   9.85   9.95       9.95   47640254
2020-01-06  10.01  10.05   9.98  10.04      10.04   43897000
2020-01-07  10.01  10.15  10.00  10.09      10.09   60680966
2020-01-08  10.19  10.20  10.09  10.15      10.15   53156710
...           ...    ...    ...    ...        ...        ...
2023-12-25   4.55   4.56   4.54   4.56       4.56   40488501
2023-12-26   4.55   4.55   4.52   4.53       4.53   90170278
2023-12-27   4.53   4.53   4.49   4.49       4.49  147403728
2023-12-28   4.49   4.51   4.48   4.49       4.49   39722290
2023-12-29   4.49   4.51   4.48   4.48       4.48   69930469

[973 rows x 6 columns]
                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  10.273264  10.362987  10.228402  10.318125   9.614377   4886483
2020-01-03  10.362987  10.497571  10.183541  10.318125   9.614377   5253386
2020-01-06  10.318125  10.318125  10.048957  10.093818   9.405369   3418116
2020-01-07  10.093818  10.228402  10.004095  10.183541   9.488973   2933738
2020-01-08  10.048957  10.138680   9.959234  10.004095   9.321766   2738881
...               ...        ...        ...        ...        ...       ...
2023-12-25  33.750000  34.250000  33.700001  33.750000  33.750000   4256381
2023-12-26  33.900002  34.049999  33.650002  33.950001  33.950001   3564110
2023-12-27  34.049999  34.349998  34.000000  34.000000  34.000000   4903365
2023-12-28  34.299999  35.349998  34.200001  35.000000  35.000000  20914231
2023-12-29  35.400002  35.450001  34.450001  34.500000  34.500000  13775979

[973 rows x 6 columns]
                  Open        High         Low       Close   Adj Close  \
Date
2020-01-02   91.000000   91.500000   90.300003   90.800003   75.553650
2020-01-03   91.400002   92.199997   90.800003   91.599998   76.219315
2020-01-06   91.099998   91.099998   90.099998   90.500000   75.304024
2020-01-07   90.500000   91.000000   88.300003   89.099998   74.139091
2020-01-08   87.900002   88.099998   86.500000   86.500000   71.975670
...                ...         ...         ...         ...         ...
2023-12-25  103.500000  104.000000  103.000000  103.500000  103.500000
2023-12-26  104.000000  104.000000  103.500000  104.000000  104.000000
2023-12-27  104.000000  104.000000  103.000000  103.500000  103.500000
2023-12-28  103.500000  104.000000  103.000000  104.000000  104.000000
2023-12-29  104.000000  105.000000  103.500000  104.500000  104.500000

              Volume
Date
2020-01-02  20758722
2020-01-03  37936877
2020-01-06  26352522
2020-01-07  42728140
2020-01-08  56101121
...              ...
2023-12-25  11295535
2023-12-26   9920950
2023-12-27  18875621
2023-12-28  23057092
2023-12-29  25969421

[973 rows x 6 columns]
                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  21.150000  21.350000  20.900000  21.049999  21.049999   5709615
2020-01-03  21.100000  21.200001  20.700001  20.700001  20.700001   5326738
2020-01-06  20.650000  20.750000  20.450001  20.750000  20.750000   3004817
2020-01-07  20.700001  20.750000  20.450001  20.700001  20.700001   4054836
2020-01-08  20.549999  20.700001  20.350000  20.549999  20.549999   3958196
...               ...        ...        ...        ...        ...       ...
2023-12-25  41.950001  42.900002  41.950001  42.150002  42.150002   5565337
2023-12-26  42.349998  42.700001  41.900002  41.900002  41.900002   5359201
2023-12-27  42.200001  42.700001  41.799999  42.049999  42.049999   6820290
2023-12-28  42.099998  42.849998  41.650002  42.500000  42.500000  10211922
2023-12-29  42.500000  42.750000  41.750000  42.000000  42.000000   8127187

[973 rows x 6 columns]
                 Open     High        Low      Close  Adj Close     Volume
Date
2020-01-02  12.687500  12.7500  12.625000  12.687500  10.015630   27294720
2020-01-03  12.750000  12.8125  12.362500  12.562500   9.916954   51887718
2020-01-06  12.625000  12.7500  12.362500  12.450000   9.828145   53631657
2020-01-07  12.562500  12.7500  12.475000  12.562500   9.916954   52841986
2020-01-08  12.450000  12.9375  12.312500  12.937500  10.212982  116149244
...               ...      ...        ...        ...        ...        ...
2023-12-25  17.049999  17.2500  16.950001  17.150000  17.150000   28810295
2023-12-26  17.250000  18.0000  17.250000  18.000000  18.000000  106702180
2023-12-27  18.100000  18.1500  17.799999  17.950001  17.950001   42923238
2023-12-28  18.049999  18.1500  17.900000  18.100000  18.100000   33976455
2023-12-29  18.150000  18.4000  18.049999  18.150000  18.150000   35081371

[973 rows x 6 columns]
             Open   High    Low  Close  Adj Close    Volume
Date
2020-01-02   7.80   7.83   7.79   7.79   6.632437   3009499
2020-01-03   7.82   7.82   7.72   7.74   6.589867   4319614
2020-01-06   7.71   7.72   7.62   7.62   6.487699   5222623
2020-01-07   7.62   7.65   7.56   7.56   6.436615   3210680
2020-01-08   7.52   7.52   7.42   7.42   6.317419   6458799
...           ...    ...    ...    ...        ...       ...
2023-12-25  13.75  14.00  13.40  13.50  13.500000  53546202
2023-12-26  13.40  13.60  13.25  13.30  13.300000  45413695
2023-12-27  13.60  13.65  13.25  13.35  13.350000  30241104
2023-12-28  13.45  13.45  13.20  13.30  13.300000  13932219
2023-12-29  13.40  13.75  13.25  13.30  13.300000  43775049

[973 rows x 6 columns]
                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02   9.060000   9.120000   9.050000   9.120000   8.641051   4341250
2020-01-03   9.120000   9.130000   9.060000   9.060000   8.584203   4890608
2020-01-06   9.070000   9.070000   9.010000   9.010000   8.536828   7312653
2020-01-07   9.020000   9.040000   9.010000   9.020000   8.546304   5551589
2020-01-08   9.020000   9.020000   8.980000   9.000000   8.527353  10229631
...               ...        ...        ...        ...        ...       ...
2023-12-25  22.450001  22.600000  21.799999  22.200001  22.200001  99197505
2023-12-26  22.250000  22.350000  21.900000  21.900000  21.900000  37280669
2023-12-27  21.850000  21.900000  21.600000  21.700001  21.700001  27810145
2023-12-28  21.650000  21.799999  21.500000  21.650000  21.650000  15705036
2023-12-29  21.700001  22.000000  21.650000  21.650000  21.650000  25730361

[973 rows x 6 columns]
                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  13.850000  13.850000  13.750000  13.750000  12.925809   5681530
2020-01-03  13.800000  13.850000  13.750000  13.800000  12.972812   3233513
2020-01-06  13.700000  13.750000  13.650000  13.700000  12.878805   5666281
2020-01-07  13.700000  13.750000  13.650000  13.650000  12.831802   3841615
2020-01-08  13.650000  13.700000  13.600000  13.600000  12.784800   7719022
...               ...        ...        ...        ...        ...       ...
2023-12-25  31.900000  32.150002  31.600000  31.750000  31.750000  64007428
2023-12-26  32.000000  32.099998  31.600000  31.600000  31.600000  32867895
2023-12-27  31.700001  31.750000  31.049999  31.100000  31.100000  53570980
2023-12-28  31.200001  31.450001  31.000000  31.250000  31.250000  31524206
2023-12-29  31.400000  31.650000  31.299999  31.450001  31.450001  32243813

[973 rows x 6 columns]
                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  28.400000  28.650000  28.250000  28.400000  22.340094    7219234
2020-01-03  28.500000  28.700001  28.200001  28.299999  22.261433   10089349
2020-01-06  28.200001  28.200001  28.000000  28.000000  22.025446    6950858
2020-01-07  28.000000  28.500000  28.000000  28.500000  22.418756   10600452
2020-01-08  28.350000  28.450001  27.900000  28.100000  22.104109    8368658
...               ...        ...        ...        ...        ...        ...
2023-12-25  94.599998  97.500000  94.500000  96.599998  96.599998   72388583
2023-12-26  97.300003  97.400002  95.800003  97.000000  97.000000   44506324
2023-12-27  97.199997  97.400002  96.099998  96.699997  96.699997   38591960
2023-12-28  97.199997  98.500000  95.900002  95.900002  95.900002   52794595
2023-12-29  96.800003  99.400002  96.599998  98.599998  98.599998  121389194

[973 rows x 6 columns]

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02   9.735388   9.747019   9.630706   9.642337   7.568545   43601623
2020-01-03   9.712125   9.723756   9.374818   9.514393   7.468119   83258112
2020-01-06   9.712125   9.770282   9.398080   9.421343   7.395080  135607228
2020-01-07   9.584181   9.781913   9.502762   9.747019   7.650712  190840567
2020-01-08   9.712125  10.177377   9.630706  10.154114   7.970253  266443517
...               ...        ...        ...        ...        ...        ...
2023-12-25  13.600000  13.850000  13.450000  13.650000  13.650000   69551852
2023-12-26  13.750000  14.300000  13.700000  14.250000  14.250000  152648361
2023-12-27  14.500000  14.550000  14.150000  14.300000  14.300000  100388733
2023-12-28  14.350000  14.400000  14.100000  14.100000  14.100000   54946013
2023-12-29  14.200000  14.400000  14.150000  14.300000  14.300000   49826875

[973 rows x 6 columns]

In [57]:
stkcd=['00632R',1609,2317,2371,2409,2515,2610,2618,3231,3481]
stkcd[1]
type(stkcd[1])

int

In [21]:
#自訂函式(function)
# df=yf.download(2330+".tw","2022-06-27") 是重複使用的函式，就可以製造函式
def ydf(i):
    df=yf.download(i+".tw","2020-01-01")
    print(df)

In [22]:
ydf("1519")

[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2020-01-02   29.100000   29.299999   29.000000   29.000000   26.305338
2020-01-03   29.200001   29.200001   28.200001   28.299999   25.670380
2020-01-06   28.299999   28.750000   27.950001   28.250000   25.625027
2020-01-07   28.150000   28.250000   27.850000   28.049999   25.443609
2020-01-08   28.049999   28.049999   27.250000   27.600000   25.035425
...                ...         ...         ...         ...         ...
2024-04-24  851.000000  860.000000  804.000000  854.000000  854.000000
2024-04-25  853.000000  864.000000  816.000000  863.000000  863.000000
2024-04-26  875.000000  898.000000  842.000000  854.000000  854.000000
2024-04-29  858.000000  872.000000  833.000000  853.000000  853.000000
2024-04-30  853.000000  853.000000  815.000000  847.000000  847.000000

              Volume
Date
2020-01-02    684056
2020-01-03   1104450
2020-01-06    509121
2020-01-07    411330
2020-01-08    577500
...              ...
2024-04-24  12014477
2024-04-25   9577220
2024-04-26  11102614
2024-04-29   8097068
2024-04-30   9271188

[1049 rows x 6 columns]

In [23]:
ydf("3231")

[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2020-01-02   28.400000   28.650000   28.250000   28.400000   22.340096
2020-01-03   28.500000   28.700001   28.200001   28.299999   22.261431
2020-01-06   28.200001   28.200001   28.000000   28.000000   22.025446
2020-01-07   28.000000   28.500000   28.000000   28.500000   22.418758
2020-01-08   28.350000   28.450001   27.900000   28.100000   22.104109
...                ...         ...         ...         ...         ...
2024-04-24  113.500000  117.500000  113.000000  115.500000  115.500000
2024-04-25  114.500000  114.500000  112.000000  112.000000  112.000000
2024-04-26  114.500000  115.500000  112.500000  113.000000  113.000000
2024-04-29  114.500000  116.000000  113.500000  114.000000  114.000000
2024-04-30  114.500000  115.000000  113.000000  113.500000  113.500000

              Volume
Date
2020-01-02   7219234
2020-01-03  10089349
2020-01-06   6950858
2020-01-07  10600452
2020-01-08   8368658
...              ...
2024-04-24  86543907
2024-04-25  38537942
2024-04-26  38356287
2024-04-29  35239384
2024-04-30  21585059

[1049 rows x 6 columns]

In [24]:
ydf("2382")

[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2020-01-02   64.300003   64.300003   63.500000   64.000000   47.930218
2020-01-03   64.000000   64.199997   63.500000   64.199997   48.079998
2020-01-06   62.400002   63.299999   61.500000   63.000000   47.181309
2020-01-07   62.500000   62.700001   61.700001   62.599998   46.881737
2020-01-08   61.799999   62.599998   61.799999   62.400002   46.731960
...                ...         ...         ...         ...         ...
2024-04-24  250.000000  260.500000  249.000000  260.500000  260.500000
2024-04-25  257.500000  261.000000  250.000000  255.500000  255.500000
2024-04-26  266.000000  269.000000  257.000000  257.500000  257.500000
2024-04-29  260.500000  263.500000  258.500000  261.500000  261.500000
2024-04-30  262.000000  264.000000  260.000000  260.000000  260.000000

              Volume
Date
2020-01-02   8212565
2020-01-03   7229367
2020-01-06  14527954
2020-01-07  13139415
2020-01-08   6623136
...              ...
2024-04-24  44081784
2024-04-25  42585294
2024-04-26  40653744
2024-04-29  15447822
2024-04-30  14807354

[1049 rows x 6 columns]

In [25]:
ydf("0056")

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  29.000000  29.120001  28.990000  29.090000  21.540590  12542463
2020-01-03  29.150000  29.430000  29.040001  29.180000  21.607231  15397477
2020-01-06  29.180000  29.180000  28.950001  28.959999  21.444326  12664714
2020-01-07  28.950001  28.959999  28.480000  28.690001  21.244394  28160121
2020-01-08  28.559999  28.690001  28.299999  28.500000  21.103704  18148599
...               ...        ...        ...        ...        ...       ...
2024-04-24  37.459999  37.849998  37.459999  37.849998  37.849998  17367222
2024-04-25  37.590000  37.630001  37.380001  37.509998  37.509998  17223405
2024-04-26  37.660000  37.840000  37.660000  37.689999  37.689999  11808233
2024-04-29  38.000000  38.400002  38.000000  38.340000  38.340000  18476451
2024-04-30  38.340000  38.419998  38.209999  38.320000  38.320000   7392849

[1049 rows x 6 columns]

In [26]:
ydf("0050")

[*********************100%%**********************]  1 of 1 completed

                  Open        High         Low       Close   Adj Close  \
Date
2020-01-02   97.050003   98.000000   97.050003   97.650002   84.318153
2020-01-03   98.300003   98.699997   97.000000   97.650002   84.318153
2020-01-06   97.050003   97.099998   96.400002   96.400002   83.238815
2020-01-07   96.449997   96.699997   95.400002   96.099998   82.979767
2020-01-08   95.199997   96.199997   95.050003   95.650002   82.591202
...                ...         ...         ...         ...         ...
2024-04-24  154.000000  156.500000  154.000000  156.350006  156.350006
2024-04-25  154.100006  154.449997  153.250000  153.500000  153.500000
2024-04-26  156.000000  156.800003  155.500000  156.000000  156.000000
2024-04-29  157.300003  159.100006  157.300003  158.800003  158.800003
2024-04-30  158.600006  159.350006  158.250000  158.250000  158.250000

             Volume
Date
2020-01-02  4882015
2020-01-03  6813547
2020-01-06  9321768
2020-01-07  6328602
2020-01-08  8516995
...             ...
2024-04-24  7675254
2024-04-25  4701410
2024-04-26  5754508
2024-04-29  7702694
2024-04-30  4761953

[1049 rows x 6 columns]

In [27]:
ydf("2884")

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  21.831432  21.831432  21.714270  21.831432  20.043396  13162747
2020-01-03  21.831432  21.870485  21.753323  21.870485  20.079250  16003670
2020-01-06  21.792377  21.792377  21.714270  21.714270  19.935829  15289130
2020-01-07  21.714270  21.753323  21.597105  21.714270  19.935829  15472542
2020-01-08  21.714270  21.753323  21.597105  21.636160  19.864117  18373580
...               ...        ...        ...        ...        ...       ...
2024-04-24  27.250000  27.350000  27.049999  27.049999  27.049999  18602771
2024-04-25  27.000000  27.150000  26.750000  27.150000  27.150000  20761315
2024-04-26  26.950001  27.200001  26.950001  27.100000  27.100000  11833282
2024-04-29  27.150000  27.700001  27.100000  27.650000  27.650000  43506086
2024-04-30  27.600000  27.750000  27.400000  27.400000  27.400000  24571998

[1049 rows x 6 columns]

In [28]:
ydf("2892")

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  21.730394  21.776142  21.638899  21.684647  18.595226  10529583
2020-01-03  21.684647  21.821892  21.684647  21.821892  18.712917   8200780
2020-01-06  21.684647  21.730394  21.638899  21.684647  18.595226  10242978
2020-01-07  21.638899  21.684647  21.501654  21.547401  18.477535  10506642
2020-01-08  21.455906  21.501654  21.181416  21.272911  18.242151  27488267
...               ...        ...        ...        ...        ...       ...
2024-04-24  27.250000  27.299999  27.049999  27.200001  27.200001   8403035
2024-04-25  27.100000  27.100000  26.900000  26.900000  26.900000  14335012
2024-04-26  26.950001  27.100000  26.850000  26.950001  26.950001  10340096
2024-04-29  27.000000  27.549999  27.000000  27.500000  27.500000  24761856
2024-04-30  27.299999  27.500000  27.299999  27.350000  27.350000  12264440

[1049 rows x 6 columns]

In [29]:
ydf("2890")

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  12.581610  12.629815  12.533405  12.581610  10.415913   8212593
2020-01-03  12.581610  12.629815  12.485199  12.581610  10.415913  18016120
2020-01-06  12.533405  12.581610  12.485199  12.533405  10.376005  15679034
2020-01-07  12.485199  12.533405  12.436994  12.533405  10.376005  15936988
2020-01-08  12.436994  12.533405  12.388788  12.485199  10.336098  19252740
...               ...        ...        ...        ...        ...       ...
2024-04-24  21.950001  21.950001  21.250000  21.450001  21.450001  31966793
2024-04-25  21.299999  21.500000  21.250000  21.350000  21.350000  15402642
2024-04-26  21.250000  21.650000  21.250000  21.299999  21.299999  11849913
2024-04-29  21.650000  22.200001  21.500000  21.950001  21.950001  31714936
2024-04-30  22.000000  22.150000  21.950001  21.950001  21.950001  18936851

[1049 rows x 6 columns]

In [30]:
ydf("2603")

[*********************100%%**********************]  1 of 1 completed

               Open     High      Low   Close   Adj Close    Volume
Date
2020-01-02   31.500   32.000   31.500   31.75   14.246060   5983333
2020-01-03   32.000   32.625   31.875   32.50   14.582581  13275073
2020-01-06   32.500   33.000   32.250   32.50   14.582581  10429668
2020-01-07   32.500   32.625   32.125   32.25   14.470407   5552326
2020-01-08   31.875   31.875   31.500   31.50   14.133887   5703694
...             ...      ...      ...     ...         ...       ...
2024-04-24  176.000  180.500  173.500  180.00  180.000000  37106976
2024-04-25  179.500  182.000  177.500  181.00  181.000000  17044317
2024-04-26  182.000  190.000  180.500  187.00  187.000000  61636786
2024-04-29  193.000  193.500  188.000  191.50  191.500000  53626335
2024-04-30  191.000  191.500  185.500  189.50  189.500000  33400262

[1049 rows x 6 columns]

In [31]:
ydf("2609")

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02   7.260000   7.290000   7.250000   7.280000   4.125279    1124232
2020-01-03   7.360000   7.360000   7.260000   7.320000   4.147945    1665314
2020-01-06   7.340000   7.360000   7.260000   7.260000   4.113946    1375475
2020-01-07   7.280000   7.300000   7.260000   7.280000   4.125279     959325
2020-01-08   7.280000   7.280000   7.200000   7.200000   4.079946     768919
...               ...        ...        ...        ...        ...        ...
2024-04-24  46.349998  47.000000  45.799999  46.700001  46.700001   34483908
2024-04-25  46.500000  47.099998  46.150002  47.099998  47.099998   20718319
2024-04-26  47.099998  51.799999  47.049999  51.799999  51.799999  221119944
2024-04-29  55.000000  55.500000  52.599998  52.900002  52.900002  194973059
2024-04-30  53.000000  53.000000  51.299999  52.200001  52.200001   80113455

[1049 rows x 6 columns]

In [32]:
ydf("2615")

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  14.584980  14.743083  14.584980  14.624505  11.650434   1406631
2020-01-03  14.743083  14.822134  14.624505  14.703557  11.713409   1856057
2020-01-06  14.703557  14.743083  14.466403  14.505928  11.555971   2033803
2020-01-07  14.505928  14.545454  14.308300  14.426877  11.492996   1716563
2020-01-08  14.308300  14.387351  14.110671  14.229249  11.335558   3533410
...               ...        ...        ...        ...        ...       ...
2024-04-24  45.200001  45.599998  44.750000  45.450001  45.450001   7307779
2024-04-25  45.400002  45.599998  45.049999  45.500000  45.500000   3864556
2024-04-26  45.500000  49.650002  45.450001  48.349998  48.349998  33121519
2024-04-29  50.400002  50.900002  49.150002  49.549999  49.549999  26473746
2024-04-30  49.650002  50.900002  48.450001  50.700001  50.700001  19942795

[1049 rows x 6 columns]

In [33]:
ydf("2002")

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  24.000000  24.100000  23.900000  24.000000  20.218719   6939981
2020-01-03  24.049999  24.100000  23.950001  24.100000  20.302965  12353288
2020-01-06  24.000000  24.049999  23.799999  23.799999  20.050228   7042674
2020-01-07  23.799999  23.900000  23.700001  23.700001  19.965986   7693624
2020-01-08  23.700001  23.700001  23.500000  23.549999  19.839619   9093876
...               ...        ...        ...        ...        ...       ...
2024-04-24  24.900000  24.950001  24.700001  24.750000  24.750000  12421121
2024-04-25  24.600000  24.650000  24.400000  24.549999  24.549999  11851681
2024-04-26  24.450001  24.700001  24.450001  24.549999  24.549999  14545258
2024-04-29  24.650000  25.000000  24.650000  25.000000  25.000000  22663319
2024-04-30  24.950001  25.100000  24.850000  24.850000  24.850000  22037614

[1049 rows x 6 columns]

In [34]:
stocks=['1519','3231','2382','0056','0050','2884','2892','2890','2603','2609','2615','2002','00878']
for i in stocks:
    df=yf.download(i+".tw","2020-01-01")
    df.to_csv('yahoo_'+i+'TW.csv')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [19]:
ydf("00878")

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2022-06-27  17.219999  17.280001  17.190001  17.209999  15.330240   27489542
2022-06-28  17.230000  17.230000  17.070000  17.110001  15.241162   22583337
2022-06-29  17.000000  17.049999  16.969999  17.020000  15.160993   28823326
2022-06-30  16.990000  16.990000  16.660000  16.660000  14.840313  101331410
2022-07-01  16.670000  16.680000  16.389999  16.389999  14.599802   87583816
...               ...        ...        ...        ...        ...        ...
2024-04-22  21.730000  21.730000  21.549999  21.549999  21.549999   66845534
2024-04-23  21.690001  21.780001  21.580000  21.620001  21.620001   37502623
2024-04-24  21.809999  22.040001  21.809999  22.030001  22.030001   29414157
2024-04-25  21.920000  21.920000  21.730000  21.770000  21.770000   48816438
2024-04-26  21.850000  22.020000  21.799999  21.840000  21.840000   35576725

[446 rows x 6 columns]